body {
  background-color: antiquewhite;
}

.freelancers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.freelance-container {
  border: solid 1px black;
  padding: 12px;
}

.formzie {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px;
  height: 30px;
}
